@import "../assets/scss/variables";

$octo-navbar-background: #333;
$octo-navbar-width: 64px;

md-icon {
  color: rgba(255, 255, 255, 0.26);
  transition: color .3s $octo-material-function;

  &:hover {
    color: #fff;
  }
}

.octo-main-content {
  margin-left: $octo-navbar-width;
}

.octo-navbar {
  display: flex;
  position: absolute;
  height: 100%;
  width: $octo-navbar-width;
  background: $octo-navbar-background
}

.octo-navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.octo-navbar__list-item--active > md-icon {
  color: #fff;
}
