$navbar-background: #333;
$navbar-width: 64px;

.octo-navbar {
  display: flex;
  position: absolute;
  height: 100%;
  width: $navbar-width;
  background: $navbar-background
}

.octo-navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.octo-main-content {
  margin-left: $navbar-width;
}

md-icon {
  color: #fff;
}
