<nav class="octo-navbar">
  <ul class="octo-navbar__list">
    <li>
      <!-- TODO: fix routerLinkActive -->
      <a routerLink="/" routerLinkActive="octo-navbar__list-item--active">
        <md-icon>home</md-icon>
      </a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="octo-navbar__list-item--active">
        <md-icon>people</md-icon>
      </a>
    </li>
  </ul>
</nav>
<section class="octo-main-content">
  <!-- Main content -->
  <router-outlet></router-outlet>
</section>
