// Reset Base
html, body, h1, h2, h3, h4, h5, h6, abbr, acronym, address, article, aside, big, blockquote, button, cite, code,
details, div, dd, dl, dt, em, fieldset, figcaption, figure, font, footer, form, header, hgroup, input, img, label,
legend, nav, p, pre, section, small, span, select, strong, sub, sup, textarea, ul, ol {
	margin: 0;
	padding: 0;
	font-style: normal;
	list-style: none;
	font-weight: normal;
	font-family: "Avenir", Arial, "Helvetica Neue", Helvetica, sans-serif
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%
}
body {
	font-size: 75%;
	line-height: 1.231;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	background: #fff;
	overflow: hidden;
}
a { text-decoration: none; cursor: pointer }
a:hover { text-decoration: none }
abbr[title] { border-bottom: 1px dotted }
strong { font-weight: 700; font-size: inherit }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #000; margin: 0; padding: 0 }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; color: inherit }
sup { top: -0.5em }
sub { bottom: -0.25em }
ul, ol { margin: 0; padding: 0 }
img { border: 0; -ms-interpolation-mode: bicubic; display: inline-block }
iframe { border: none }
svg:not(:root) { overflow: hidden }
fieldset { border: 0 }
legend { border: 0 }
label { cursor: pointer }
em { font-style: italic }
th { font-weight: normal; text-align: left }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline }
button, input { line-height: normal; outline: none }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; -moz-appearance: button; appearance: button }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box }
input[type="search"] { box-sizing: content-box }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0 }
textarea { overflow: auto; vertical-align: top }
table { border-collapse: collapse; border-spacing: 0 }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }

// Highlight mobile
input, textarea, button, select, a {
	-webkit-tap-highlight-color: transparent
}

// Placeholders
input::-webkit-input-placeholder { color:#bbb }
input:-moz-placeholder { color:#bbb }
input::-moz-placeholder { color:#bbb }
input:-ms-input-placeholder { color:#bbb }
